<div class="grid grid-nogutter overview">
  <div class="col-6 md:col-8 lg:col-9" style="height: calc(100vh - 1rem);overflow-y: auto;">
    <div class="overview-left">
      <div class="flex justify-content-between align-items-center w-full">
        <h3 class="m-0"><i class="pi pi-bars mr-2"></i>Dog Overview</h3>
        <div class="flex gap-2">
          <div class="i-primary">
            <i class="pi pi-print"></i>
          </div>
          <div class="i-primary">
            <i class="pi pi-file-arrow-up"></i>
          </div>
        </div>
      </div>
      <div class="flex justify-content-between align-items-center w-full">
        <div class="sub-title">Overview on QUEEN</div>
        <div>
          <p-button label="Add Data" icon="pi pi-plus" [rounded]="true" [outlined]="true" size="small"
                    (onClick)="dashboardService.dogDialogVisible.set(true)"/>
        </div>
      </div>
      <div class="flex align-items-stretch gap-2">
        <app-overview-score label="MISSION READINESS SCORE" style="flex: 1"/>
        <app-overview-score label="PAST READINESS SCORE" style="flex: 1" severity="secondary"/>
        <app-weight-trend style="flex: 1"/>
      </div>
      <div class="flex align-items-stretch gap-2">
        @for (info of dashboardService.getDogOverview().information; track $index) {
          <app-dog-overview-information-cards style="flex: 1" [severity]="info.severity" [value]="info.value"
                                              [title]="info.title"/>
        }
      </div>
      <div style="width: 200px;">
        <app-input icon="pi pi-search" placeholder="Search by anything"/>
      </div>
      <div class="flex justify-content-between align-items-center w-full">
        <div class="flex align-items-center gap-2">
          <h4 class="m-0">Treatment Plan</h4>
          <div class="flex flex-nowrap align-items-center gap-2 px-2 py-1"
               style="background-color: var(--p-primary-200); font-size:12px; border-radius: 8px">
            <div>The dog has not been admitted today, admit to be able to add a medical service</div>
            <p-button label="Admit Dog" [rounded]="true" size="small"/>
          </div>
        </div>
        <div class="flex gap-2">
          <div>
            <p-button label="Add Condition" icon="pi pi-plus-circle" [rounded]="true" [outlined]="true" size="small"/>
          </div>
          <div>
            <p-button label="Add Medicine" icon="pi pi-plus-circle" [rounded]="true" [outlined]="true" size="small"/>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap align-items-stretch gap-3">
        @for (tp of dashboardService.getDogOverview().treatmentPlan; track $index) {
          <app-treatment-plan-card [data]="tp" style="flex: 1"/>
        }
      </div>
    </div>
  </div>
  <app-dog-profile class="col-6 md:col-4 lg:col-3"/>
</div>

<p-dialog [(visible)]="dashboardService.dogDialogVisible" [modal]="true" [style]="{ width: '32rem' }" [dismissableMask]="true">
  <ng-template #headless>
    <app-dog-profile-popup />
  </ng-template>
</p-dialog>
