<div class="trend grid grid-nogutter h-full">
  <div class="col-6 flex flex-column gap-2">
    <div>WEIGHT TREND</div>
    <div style="color: var(--p-primary-500)">
      36.4
    </div>
    <div class="flex column-gap-2 mt-auto">
      <div style="color: var(--p-green-500)">
        <i class="pi pi-check-square"></i>
      </div>
      <div>
        <div style="font-size: 12px">Ideal Weight</div>
        <div style="color: lightgray; font-size: 10px">30 - 45 kg</div>
      </div>
    </div>
  </div>
  <div class="col-6 flex flex-column align-items-center justify-content-center">
    <div class="flex align-items-center column-gap-1">
      <div class="flex justify-content-center align-items-end"
           style="color: white;width: 25px; height: 25px; border-radius: 2px;font-size: 8px ;background-color: var(--p-primary-800)">40
      </div>
      <div style="color: lightgray; font-size: 10px; width: 50px">Over</div>
    </div>
    <div class="flex align-items-center column-gap-1">
      <div class="flex justify-content-center align-items-end"
           style="color: white;width: 25px; height: 25px; border-radius: 2px;font-size: 8px ;background-color: var(--p-primary-600)">30
      </div>
      <div style="color: lightgray; font-size: 10px; width: 50px">Ideal</div>
    </div>
    <div class="flex align-items-center column-gap-1">
      <div class="flex justify-content-center align-items-end"
           style="color: white;width: 25px; height: 25px; border-radius: 2px;font-size: 8px ;background-color: var(--p-primary-400)">20
      </div>
      <div style="color: lightgray; font-size: 10px; width: 50px">Low</div>
    </div>
    <div class="flex align-items-center column-gap-1">
      <div class="flex justify-content-center align-items-end"
           style="color: white;width: 25px; height: 25px; border-radius: 2px;font-size: 8px ;background-color: var(--p-primary-200)">10
      </div>
      <div style="color: lightgray; font-size: 10px; width: 50px">Critical</div>
    </div>
  </div>
</div>
