:host {
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='text'],
input[type='number'] {
  outline: none;
  font-size: 12px;
  background-color: #eef2f5;
  border-color: transparent !important;
  padding-left: 0;

  &:hover,
  &:focus {
    border-color: transparent !important;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  color: #64748b;
  background: #eef2f5;
  height: 30px;
  border-color: transparent !important;
  width: 33px;
  border-radius: 0 !important;
  border-top-left-radius: 26px !important;
  border-bottom-left-radius: 26px !important;
  height: 30px;
  border-right: none;

  &:hover {
    background: #eef2f5;
    color: #64748b;
  }
}

.input-container {
  height: 30px;
  border-radius: 0 !important;

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}

.right-border-radius {
  border-top-right-radius: 26px !important;
  border-bottom-right-radius: 26px !important;
}

.left-border-radius {
  border-top-left-radius: 26px !important;
  border-bottom-left-radius: 26px !important;
}

.border-right-radius-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.border-left-radius-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.border-right-0 {
  border-right: none;
}

.border-left-0 {
  border-left: none;
}

.disabled {
  background-color: #f3f5f8 !important;
  cursor: not-allowed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Starting position */
  }
  100% {
    transform: rotate(360deg); /* Ending position */
  }
}
